# Core functionality - changes here should be rare!
/src/app.py                   @Shahnoza1020
/src/backend/database.py      @Shahnoza1020
/src/backend/routers/auth.py  @Shahnoza1020

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Shahnoza1020
